<footer>
	<div id="footer-press">
		<div id="footer-press-container">
			<div id="reseau" class="block-footer">
				<h4>RETROUVEZ-NOUS AUSSI SUR</h4>
				<ul>
					<li><a>Facebook</a></li>
					<li><a>Twitter</a><li>
					<li><a>Instagram</a></li>
				</ul>
			</div>
			<div id="divers" class="block-footer">
				<h4>DIVERS</h4>
				<ul>
					<li>Livraison</li>
					<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/ups.png') }}" width="30px">
					<br>
					<li>Mode de paiement :	<li>
					<img alt="paiement" src="{{ asset('bundles/machouilleproduit/images/modes-paiement.png') }}">
				</ul>
			</div>
			<div id="apropos" class="block-footer">
				<h4>A PROPOS</h4>
				<ul>
					<li><a>Qui sommes-nous ?</a></li>
					<li><a>Nos valeurs</a><li>
					<li><a>Nous contacter</a><li>
					<li><a>FAQ (Foire aux questions)</a><li>
				</ul>
			</div>
			<div id="partenaire" class="block-footer">
				<h4>PATERNAIRE</h4>
				<a>Candy Crush Saga</a>
			</div>
		</div>
	</div>

	<div id="mention">
		<div id="mention-container">
			<p>C.G.V.</p>
			<p>Mentions légales</p>
			<p>© 2014 - 2015 Machouille/Chewing Gum</p>
		</div>
	</div>
</footer>