{% extends 'MachouilleProduitBundle::layout.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('bundles/machouilleproduit/css/accueil.css') }}" type="text/css" media="screen and (min-width: 800px)" />
{% endblock %}

{% block title %}Le meilleur Chewing Gum du monde{% endblock %}

{% block body %}
	<div id="main-page" class="container">
		<div id="special">
			口口口
		</div>
		<div id="meilleur">
			口口口
		</div>
		<div id="catalogue">
			口口口
		</div>
		<div id="divers">
			Plus de xxx produit
			Livraison gratuit sous 72 heures
			Paiement securisé
		</div>		
	</div>
{% endblock %}