{% extends 'MachouilleProduitBundle::layout.html.twig' %} {% block
stylesheets %} {{ parent() }}
<link rel="stylesheet"
	href="{{ asset('bundles/machouilleproduit/css/formulaire.css') }}"
	type="text/css" media="screen and (min-width: 800px)" />
{% endblock %} {% block title %}Le meilleur Chewing Gum du monde{%
endblock %} {% block body %}
<div id="main-page" class="container">
	<div id=message class="sub-container">
		<form action="" method=post>
			<h3>Vous pouvez nous envoyer un email</h3>
			<label>Object de votre message</label>
			<input type="text">
			<label>Votre message</label>
			<textarea rows="10" cols="60"></textarea>
			<label>Votre email</label>
			<input type="text">
			<input type="submit" value="Envoyer">
			
			<br><br><br><br>
			<h3>Vous pouvez également nous rejoindre par téléphone</h3>
			<br>
			<p> Tél : 06 06 06 06 06</p>
			<p> Fixe : 01 06 06 06 06</p>
			<p> Fax : 01 06 06 06 07</p>
		</form>
	</div>
	<div class="sub-container">
	</div>
</div>
{% endblock %}
