{% extends 'MachouilleProduitBundle::layout.html.twig' %} {% block
stylesheets %} {{ parent() }}
<link rel="stylesheet"
	href="{{ asset('bundles/machouilleproduit/css/accueil.css') }}"
	type="text/css" media="screen and (min-width: 800px)" />
{% endblock %} {% block title %}Le meilleur Chewing Gum du monde{%
endblock %} {% block body %}
<div id="main-page" class="container">
</div>
{% endblock %}
