.sub-container {
	float: left;
	width: 50%;
	height: 45em;
}

#register form {
	margin: 5em 0 0 20em;
}

#login form {
	margin: 10em 0 0 20em;
}

#paiement form{
	margin: 10em 0 0 20em;
}

#message form{
	margin: 5em 0 0 10em;
}

label {
	display: block;
	float: left;
	margin-right: 2em;
	width: 10em;
	font-size: 1em;
	line-height: 2em;
	color: #5a3a23;
}

#paiement label {
	width: 10em;
}

#form_Birthday {
	line-height: 2em;
}

#register select{
	line-height: 2em;
	margin-bottom: 0.5em;
	margin-right: 0.8em;
	line-height: 2em;
	border: 1px solid #5a3a23;
}

input {
	margin-bottom: 0.5em;
	line-height: 2em;
	border: 1px solid #5a3a23;
}

#login input {
	width: 15em;
}

button {
	margin-top: 1em;
	padding: 0.5em;
	background-color: #5a3a23;
	width: 19em;
	color: white;
}

#paiement input[type=submit] {
	margin-top: 1em;
	padding: 0.5em;
	background-color: #5a3a23;
	width: 13em;
	color: white;
}

#login input[type=submit] {
	margin-top: 1em;
	padding: 0.5em;
	background-color: #5a3a23;
	width: 15em;
	color: white;
}

#message input[type=submit] {
	float: none;
	margin-top: 1em;
	margin-left: 3em;
	background-color: #5a3a23;
	width: 11em;
	color: white;
}

#register button{
	float: none;
	margin-top: 1em;
	background-color: #5a3a23;
	width: 15em;
	color: white;
}

#modepaiement {
	margin-top: 18em;
}

.sub-container a{
	float: left;
	margin: 0.5em 0 0 22em;
}

#message label{
	float: none;
	width: 10em;
	text-decoration: underline;
	color: #5a3a23;
}

#message textarea {
	margin-bottom: 0.5em;
	border: 1px solid #5a3a23;
	color: #5a3a23;
}

#message p {
	color: #5a3a23;
}

#message h3 {
	color: #5a3a23;
}

.erreur {
	color: red;
}

#register label{
	display: block;
	float: left;
	margin-right: 2em;
	width: 15em;
	font-size: 1em;
	line-height: 2em;
	color: #5a3a23;
}

#register input {
	margin: 0;
	width: 15em;
	line-height: 2em;
}